<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "Flora" %></title>
    <link rel="stylesheet" href="/style/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,600;1,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="logo"></div>
      <div class="nav-con">
        <ul class="nav-ul">
          <li><a class="nav-a" href="/">Home</a></li>
          <li><a class="nav-a fc" href="/app/flowers">Flower Collection</a></li>
          <li><a class="nav-a" href="#">Contact</a></li>
          <li><a class="nav-a" href="">About Us</a></li>
        </ul>
      </div>

      <% if(typeof user !== "undefined" && user) { %>
      <p><%= user.name %></p>
      <form action="/app/logout" method="POST">
        <button type="submit" class="primary_btn">Logout</button>
      </form>
      <% } else { %>
      <div class="nav-btn">
        <a href="/app/login"><button class="primary_btn">Login</button></a>
        <a href="/app/signup"><button class="primary_btn">Signup</button></a>
      </div>
      <% }%>
    </nav>
  </body>
</html>
