<%- include("Shared/header") %>
    <main>

        <div class="aboutUs">
            <h1 style="text-align: center; margin-top: 150px;"><span style="color:#707070;">About</span> <span
                    style="color: #E55473;">US</span></h1>
        </div>

        <div class="artical-container">
            <div class="artical-details">
                <article>
                    <h2>There is nothing to say about us "WE ARE EXTRA-ORDINARY" <br> you can please carry on</h2>
                </article>
            </div>
        </div>

    </main>

    <footer>
        <div class="TC">
            <div class="T-container">

                <h3 class="F-title"><span style="color: #E55473;">Flower<span\><span style="color: white;">Shop</span>
                </h3>


                <p style="color: white;">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.</p>
                <p id="copy"><small>
                        &copy; 2024, FlowerShop.com. All rights reserved.
                    </small></p>
            </div>
        </div>
    </footer>

</body>

</html>