<%- include("Shared/header") %>
    <main>
        <div class="body">

            <div class="container">
                <div class="user-details">

                    <div class="signup">
                        <h2 style="text-align: center; font-size: 30px;"><span
                                style="color: #707070;">Billing</span><span style="color: #E55473;">Details</span>
                        </h2>
                    </div>

                    <form action="">
                        <label class="signup-label" for="Name">Full Name</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="name" id="Name" placeholder="Enter your name"
                                required>
                        </div>

                        <label class="signup-label" for="Email">Email</label>
                        <div class="input-box">
                            <input class="user-input" type="email" name="email" id="Email"
                                placeholder="Enter your email" required>
                        </div>

                        <label class="signup-label" for="Number">Number</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="number" id="Number"
                                placeholder="Enter your phone number" required>
                        </div>

                        <label class="signup-label" for="Address">Address</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="address" id="Address"
                                placeholder="Enter your address" required>
                        </div>

                        <label class="signup-label" for="delivery">Delivary Date</label>
                        <div class="input-box">
                            <input class="user-input" type="date" name="delivery" id="delivery" required>
                        </div>
                    </form>
                </div>
            </div>


            <!--Cash memo-->

            <div class="container">
                <div class="user-details">

                    <div class="signup">
                        <h2 style="text-align: center; font-size: 30px;"><span style="color: #707070;">Your</span><span
                                style="color: #E55473;">Order</span>
                        </h2>
                    </div>

                    <form action="">
                        <div class="input-box order">
                            <h3>PRODUCT</h3>
                            <h3>SUBTOTAL</h3>
                        </div>
                        <div class="input-box order">
                            <p><%= flower.name %></p>
                            <input class="order-input" type="email" name="email" id="Email"
                                placeholder="Enter your email" required>
                        </div>

                        <div class="input-box order">
                            <h4 class="total">Subtotal</h4>
                            <input class="order-input" type="text" name="number" id="Number"
                                placeholder="Enter your phone number" required>
                        </div>


                        <div class="input-box order">
                            <h4 class="total">Shipping</h4>
                            <input class="order-input" type="text" name="address" id="Address"
                                placeholder="Enter your address" required>
                        </div>


                        <div class="input-box order">
                            <h2>TOTAL</h2>
                            <input class="order-input" type="text" name="delivery" id="delivery" required>
                        </div>

                        <div class="btn-signup">
                            <input class="submit" type="submit" value="Place Order">
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="TC">
            <div class="T-container">

                <h3 class="F-title"><span style="color: #E55473;">Flower<span\><span style="color: white;">Shop</span>
                </h3>


                <p style="color: white;">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.</p>
                <p id="copy"><small>
                        &copy; 2024, FlowerShop.com. All rights reserved.
                    </small></p>
            </div>
        </div>
    </footer>

</body>

</html>