<%- include("Shared/header") %>
    <main>
        <div class="flower-title">
            <h1><span style="color:#707070;">Flower</span> <span style="color: #E55473;">Collection</span></h1>
        </div>

        <section>
            <div class="flower-collection-container">
                <div class="flower-collection">
                    <div class="f-pic-con">
                        <div class="f-pic one">
                            
                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic two">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic three">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic four">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic five">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                </div>

                <div class="flower-collection">

                    <div class="f-pic-con">
                        <div class="f-pic six">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic seven">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic eight">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic nine">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>

                    <div class="f-pic-con">
                        <div class="f-pic ten">

                        </div>
                        <button class="buy">Buy Now</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="TC">
            <div class="T-container">
                <h3 class="F-title"><span style="color: #E55473;">Flower<span\><span style="color: white;">Shop</span>
                </h3>
                <p style="color: white;">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.</p>
                <p id="copy"><small>
                        &copy; 2024, FlowerShop.com. All rights reserved.
                    </small></p>
            </div>
        </div>
    </footer>
</body>
</html>