<%- include("Shared/header") %>
    <header>
        <div class="title">
            <h1>Let flowers make your life beautiful</h1>
            <p class="primary_font">Welcome to Flora, where fresh blooms meet artful design. Discover stunning
                arrangements and personalized bouquets for every occasion.</p>
            <button class="primary_btn">Shop Now</button>
        </div>

        <img src="/img/pngwing10.png" alt="img">
    </header>

    <main>
        <section class="Featured">
            <div class="TC">
                <div class="T-container">
                    <h3 class="F-title">Our Featured Flowers</h3>
                    <p class="primary_font">It is a long established fact that a reader will be
                        distracted by the readable
                        content of a page when
                        looking at its layout.</p>
                </div>
            </div>

            <div class="Flower_container">
                <div>
                    <div class="flr one"></div>
                    <p class="fp">Pink Flower Tree</p>
                </div>
                <div>
                    <div class="flr two"></div>
                    <p class="fp">Pink Flower Tree</p>
                </div>
                <div>
                    <div class="flr three"></div>
                    <p class="fp">Pink Flower Tree</p>
                </div>
            </div>

        </section>

        <section class="support">
            <div class="s-support">
                <div>
                    <img src="/img/Group 57.png" alt="img">
                    <p>Same Day Delivery. Click & Collect.</p>
                </div>
                <div>
                    <img src="/img/Group 58.png" alt="img">
                    <p>Fresh Flowers. Local Growers.</p>
                </div>
                <div>
                    <img src="/img/Group 59.png" alt="img">
                    <p>24/7 Free Support.</p>
                </div>
            </div>
        </section>

        <section class="sale">
            <div class="sale-title">
                <h3 class="F-title">Hot Deal! Sale Up To 25% <span style="color:#E55473 ;">Off</span></h3>
                <p class="primary_font">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <a href=""><button class="primary_btn">Sign Up</button></a>
            </div>
            <div>
                <img src="/img/pngwing 8.png" alt="img">
            </div>
        </section>

        <section class="Instagram">
            <div class="TC">
                <div class="T-container">

                    <h3 class="F-title">Instagram</h3>
                    <p class="primary_font">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>

            <div class="insta-flower">
                <img src="/img/Flower 01.png" alt="img">
                <img src="/img/Rectangle 4.png" alt="img">
                <img src="/img/Rectangle 4.png" alt="img">
                <img src="/img/Rectangle 4.png" alt="img">
            </div>
        </section>

        <section class="support">

            <div class="BG">
                <h3 class="F-title">Get The Latest Deals</h3>
                <p class="primary_font">$30 coupon for first shopping</p>

                <div>
                    <input id="subscribe" type="email" placeholder="Enter your email here ">

                    <button class="primary_btn">Subscribe</button>
                </div>

            </div>
        </section>
    </main>

    <footer>
        <div class="TC">
            <div class="T-container">
                <h3 class="F-title"><span style="color: #E55473;">Flower<span\><span style="color: white;">Shop</span>
                </h3>
                <p style="color: white;">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.</p>
                <p id="copy"><small>
                        &copy; <%= new Date().getFullYear() %>, FlowerShop.com. All rights reserved.
                    </small></p>
            </div>
        </div>
    </footer>

</body>

</html>
