<%- include("Shared/header") %>
    <main class="profile_container">

        <div class="profile">
            <div class="profile_pic">
                <h2>Profile Pic</h2>
            </div>
            <div class="profile_details">
                <h2>Md. Muntasir Fahad Rifat</h2>
                <p>User Personal Details</p>
                <p>User Personal Details</p>
                <p>User Personal Details</p>
                <p>User Personal Details</p>
                <p>User Personal Details</p>
            </div>
        </div>


        <div class="profile_status">
            <h1>Hello what is this </h1>
        </div>

    </main>

</body>

</html>