<%- include("Shared/header") %>
    <main>
        <div class="body">
            <div class="container">
                <div class="user-details">
                    <div class="signup">
                        <h2 style="text-align: center; font-size: 30px;"><span style="color: #707070;">Sign</span>
                            <span style="color: #E55473;">UP</span>
                        </h2>
                    </div>

                    <form action="/app/signup" method="POST">
                        <label class="signup-label" for="Name">Name</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="name" id="Name" placeholder="Enter your name" required>
                        </div>

                        <label class="signup-label" for="Email">Email</label>
                        <div class="input-box">
                            <input class="user-input" type="email" name="email" id="Email"
                                placeholder="Enter your email" required>
                        </div>

                        <label class="signup-label" for="Number">Number</label>
                        <div class="input-box">
                            <input class="user-input" type="number" name="phone" id="phone"
                                placeholder="Enter your phone number" required>
                        </div>

                        <label class="signup-label" for="Date">Date of birth</label>
                        <div class="input-box">
                            <input class="user-input" type="date" name="date_Of_Birth" id="Date"
                                placeholder="Enter your Date of birth" required>
                        </div>

                        <label class="signup-label" for="Crt-Password">Create Password</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="password" id="password"
                                placeholder="Create your password" required>
                        </div>

                        <label class="signup-label" for="C-Password">Confirm Password</label>
                        <div class="input-box">
                            <input class="user-input" type="text" name="passwordConfirm" id="passwordConfirm"
                                placeholder="Confirm password" required>
                        </div>
                        <div class="btn-signup">
                            <input class="submit" type="submit" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="TC">
            <div class="T-container">

                <h3 class="F-title"><span style="color: #E55473;">Flower<span\><span style="color: white;">Shop</span>
                </h3>

                <p style="color: white;">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout.</p>
                <p id="copy"><small>
                        &copy; 2024, FlowerShop.com. All rights reserved.
                    </small></p>
            </div>
        </div>
    </footer>
</body>
</html>